!!!
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}
    %title= content_for?(:title) ? yield(:title) : "College Dual"
    = csrf_meta_tags


    - @page.stylesheets.uniq.each do |filename|
      = stylesheet_link_tag filename , :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic"
    = javascript_include_tag "application.js"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
  %body

    = render 'layouts/shared/header'
    = yield
    = render 'layouts/shared/footer'

    - @page.javascripts.uniq.each do |filename|
      = javascript_include_tag filename